# Release Libraries
github "CocoaLumberjack/CocoaLumberjack"
github "SwiftyJSON/SwiftyJSON" ~> 2.3.1
github "Alamofire/Alamofire" ~> 3.4

#Test Libraries
github "facebook/ios-snapshot-test-case"
github "Quick/Nimble"
github "Quick/Quick"
